# UEF Analysis of "Q3 ICN 10196 RTGH-S11IS1-0907.SM22014" with raw data and no filling
# Uniform energy factor to energy efficiency for listing
### Do i need to add any other file here ?
### target is what ??
### is target categorical or conitunuous variable ?????
### what factor affecting target to change
### which object column we need to convert to numbers
### which column we can drop from experience from object or numbers

In [2]:
import pandas as pd 
import os
from nptdms import TdmsFile

def tdms_extract(entry):
    if(entry.endswith('.tdms')):
        tdms_file = TdmsFile(entry)
        for group in tdms_file.groups():
            data = tdms_file.object(group).as_dataframe()
            if group == 'Events':
                data["TimeStamp"] = data["TimeStamp"].astype(float).values - float(data["TimeStamp"].values[0])
            if group == 'Channels':
                data["TimeStamp (sec)"] = data["TimeStamp (sec)"].values - data["TimeStamp (sec)"].values[0]
            if not os.path.exists('C:/Niagara/UEF/' + group):
                os.makedirs('C:/Niagara/UEF/' + group)
            name = entry.split('\\')[-1]
            data.to_csv('C:/Niagara/UEF/' +group + "/" + name[:-5] +".csv")

data_path = r'C:\Users\muhammad.tahir.ctr\OneDrive - Rheem Manufacturing Company\Desktop\work-progress\UEF-work\uef-analysis\data-tdms-160k'
files = [f.path for f in os.scandir(data_path) if f.name.endswith('tdms')]

for f in files:
    print(f)
    tdms_extract(f)

C:\Users\muhammad.tahir.ctr\OneDrive - Rheem Manufacturing Company\Desktop\work-progress\UEF-work\uef-analysis\data-tdms-160k\ST4 ICN 12256 RTG-SR11iS1-8242.SM22014.tdms

AttributeError: 'TdmsFile' object has no attribute 'object'

In [ ]:
#q_low = df["col"].quantile(0.01)
#q_hi  = df["col"].quantile(0.99)

#df_filtered = df[(df["col"] < q_hi) & (df["col"] > q_low)]

In [ ]:
# Required Imports 
#import pandas as pd
#import numpy as np
#import os
#import matplotlib.pyplot as plt
#import seaborn as sns

In [ ]:
#filepath = '/home/x/y/file.tdms'
#tdms_file = TdmsFile.as_dataframe(filepath,time_index=False, absolute_time=False, scaled_data=True)

# C:\Users\muhammad.tahir.ctr\OneDrive - Rheem Manufacturing Company\Desktop\work-progress\UEF-work\uef-analysis\data-tdms-160k

In [ ]:
#creating dataframe df1 of "Q3 ICN 10196 RTGH-S11IS1-0907.SM22014"
df1 = pd.read_tdms("./data-tdms-160k/ST4 ICN 12256 RTG-SR11iS1-8242.SM22014.tdms")

In [ ]:
#readong first 5 rows of "NL I09"
df1.head()

In [ ]:
# looking at null values and data types of each column for "NL I09"
df1.info()

In [ ]:
df1.columns

In [ ]:
df2 = df1.iloc[:, 0:18]
df2.info()

In [ ]:
# can we drop columns 27 to 58 ? yes i can drop all 

#after 14, no need to keep any field

# what is important or what ?

# Station           Unit Name          Model  anything important here ?

# Purge    Draw    cut ?

#what is target variable ?

In [ ]:
#df1['Date/Time'].head()

In [ ]:
#df1['Date/Time'] = pd.to_datetime(df1['Date/Time'])

In [ ]:
#df1['Date/Time'].head()

In [ ]:
#df1.head()

In [ ]:
#df1 = df1.drop(['WHTRSETP', "Station", "MODEL_ID"], axis=1)
#df1.info()

In [ ]:
df2.shape

In [ ]:
#checking null values
df2.isnull().sum()

In [ ]:
#df1.dropna(how='all')

In [ ]:
#df1.head()

In [ ]:
#df1.info()

In [ ]:
# bar chart to see missing visual in df_data
plt.figure(figsize = (10,10))

df2.isnull().sum().plot(kind = 'barh')
plt.title('Number of Missing Values by Column', size = 25)
plt.xlabel('Count', size = 25);

In [ ]:
# selecting the most filled fields and droping most empty fieds

In [ ]:
plt.figure(figsize=(15, 5))
df2['Drawn Water (Gallons)'].hist()

In [ ]:
#visual of correlation between fields or columns
plt.figure(figsize=(12, 12))
mask = np.zeros_like(df2.corr())
mask[np.triu_indices_from(mask)] = True
sns.heatmap(df2.corr(), mask = mask, square = True, cmap = 'viridis', annot = True, vmin=-1, vmax=1);

In [ ]:
#visual of correlation between fields or columns
plt.figure(figsize=(10,8))

sns.heatmap(df2.corr()[['Drawn Water (Gallons)']].sort_values('Drawn Water (Gallons)', ascending=False), annot=True, cmap='viridis');

In [ ]:
#I need to check for  CP is (Tin+Tout)/2 average temperature

# and then correlation of this field with all other????

In [ ]:
df2 ['T_avg'] = (df2['Tin'] + df2['Tout'])/2
df3 = df2
df3.info()

In [ ]:
#visual of correlation between fields or columns
plt.figure(figsize=(10,8))

sns.heatmap(df3.corr()[['T_avg']].sort_values('T_avg', ascending=False), annot=True, cmap='viridis');

In [ ]:
#'Gas TC'
#visual of correlation between fields or columns
plt.figure(figsize=(10,8))

sns.heatmap(df3.corr()[['Gas TC']].sort_values('Gas TC', ascending=False), annot=True, cmap='viridis');

In [ ]:
#Scatter plot to see relation between CHE_FIGN and FLAMECUR
df1.plot(kind='scatter', x = 'CHE_FIGN', y='FLAMECUR');

In [ ]:
#Scatter plot to see relation between CHE_FIGN and FLAMECUR
df1.plot(kind='scatter', x = 'CHE_FIGN', y='AND2CURR');

In [ ]:
#Scatter plot to see relation between CHE_FIGN and FLAMECUR
#df1.plot(kind='scatter', x = 'CHE_FIGN', y='WHTRSETP');

In [ ]:
#Scatter plot to see relation between CHE_FIGN and FLAMECUR
df1.plot(kind='scatter', x = 'CHE_FIGN', y='Date/Time');

In [ ]:
#Scatter plot to see relation between CHE_FIGN and CHE_SIGN
df1.plot(kind='scatter', x = 'CHE_FIGN', y='CHE_SIGN');

In [ ]:
#Scatter plot to see relation between CHE_FIGN and T_HEALTH
df1.plot(kind='scatter', x = 'CHE_FIGN', y='T_HEALTH');

In [ ]:
df1['T_HEALTH'].hist()

In [ ]:
#Scatter plot to see relation between CHE_FIGN and C_HEALTH
df1.plot(kind='scatter', x = 'CHE_FIGN', y='C_HEALTH');

In [ ]:
df1['C_HEALTH'].hist()

In [ ]:
#Scatter plot to see relation between CHE_FIGN and CHE_BMIN
df1.plot(kind='scatter', x = 'CHE_FIGN', y='CHE_BMIN');

In [ ]:
#Scatter plot to see relation between CHE_FIGN and CHE_BMIN
df1.plot(kind='scatter', x = 'CHE_FIGN', y='AND2CURR');

In [ ]:
#selct and drop any columns
# features = ['column1', 'column2']
#df1_columns = df1[features]
#df1_final = df_final['CHE_FIGN']
#df1_final = df_final.drop(columns=['CHE_FIGN', 'CHE_FIGN'])

In [ ]:
#creating dataframe df2 of "NL I10"
df2 = pd.read_csv("./clean-anes/NL I10.csv")

In [ ]:
#readong first 5 rows of "NL I10"
df2.head()

In [ ]:
# looking at null values and data types of each column for "NL I09"
df2.info()